# genup crontab
MAILTO=""
PATH=/sbin:/bin:/usr/sbin:/usr/bin

# defined with your own schedule and flags
# 4 2 * * *     root    genup >> /var/log/genup.log 2>&1
# 4 2 * * *     root    genup --email "sysadmin@example.com" --email-from "host@example.com" --live-rebuild >> /var/log/genup.log 2>&1
